<%- include('../partials/head.ejs') %>


<div style="width:60%;height:auto;margin:0, auto;padding:50px;">
     
    <h1> wellcome dashboard blogg</h1>
        </div>
      

      

<%- include('../partials/footer.ejs') %>